version: '3.8'
services:
  php-api:
    image: ziggybaba/php-api:latest
    build:
      context: .
      dockerfile: ./app/Dockerfile
      target: development
    ports:
      - '8000:8000'
    volumes:
      - .:/usr/src/app